body{
    margin:0;
    height:200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.carta {
    background-color: rgb(231, 156, 221);
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 15px 40px rgb(231, 49, 192);
    text-align: center;
    transition: transform 0.3s ease;

}